
html, body {
	padding: 0;
	margin: 0;
}

#overhead {
	height: 50px;
	width: 100%;
}

#logo {
	/*background-color: red;*/
	color: white;
	font-size: xxx-large;
	
	margin-top: 2%;
	margin-left: 5%;
	width: 300px;
	float: left;
}

#unit-select {
	height: 100px;
	width: 500px;
	
	float: left;
	
}

#unit-display {
	
	/*background-color: red;*/
	width: 200px;
	float: left;
	
}
/*
#units::after {
	content: 'Imperial';
}
*/
html {
	height: 100%;
}

body {
	/*background-image: url("Images/Background.jfif");*/
	background-image: linear-gradient(#c933ff, #ff5533);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	height: 50%;
	font-family: 'Varta', sans-serif;
}

.textbox {
	
	height: 10%;
	width: 50%;
	border-radius: 8px;
	
	margin-top: 5%;
	margin-left: 10%;
	margin-right: auto;
	
	font-size: 100px;
}

#page {
	
	width: 75%;
	height: 100%;
	background-color: white;
	
	margin-top: 100px;
	margin-left: 15%;
	
	border-radius: 25px;
	
}

.page-element {
	margin-top: 30px;
	margin-left: 5%;
	font-size: large;
}


.textbox::placeholder {
	font-size: 100px;
	
}

input:focus, textarea:focus, select:focus{
	outline: none;
}

#submit-button {
	
	/*background-color: #3385ff;*/
	
	background-image: linear-gradient(#0056d6, #3385ff);
	border-radius: 10px;
	
	color: white;
	font-size: large;
	
	width: 100px;
	height: 65px;
	
	outline: none;
	border: none;
	
}

#submit-button:after {
	content: 'Compute';
}

#submit-button:hover {
	/*background-color: #0046ad;*/
	background-image: linear-gradient(#3385ff, #0056d6);
	cursor: pointer;
}

#submit-button:target {
	background-image: linear-gradient(red, green);
}

