
html, body {
	padding: 0;
	margin: 0;
}

#overhead {
	/*background-color: black;*/
	background-image: linear-gradient(#8f8f8f, #000000);
	height: 100px;
	width: 100%;
}

#logo {
	background-color: blue;
	color: white;
	font-size: xxx-large;
	line-height: 200%;
	margin-left: 5%;
	width: 30%;
	font-family: 'Varta', sans-serif;
	float: left;
}
/*
.switch {
	
	background-color: purple;
	width: 100px;
	height: 50px;
	
	padding-left: 0px;
	
	margin-left: 5px;
	margin-bottom: 30px;
	
	float: left;
	
}
*/
.switch-chck-bx {
	
	width: 0;
	height: 0;
	box-sizing: border-box;
	overflow: hidden;
	
}

.switch {

	background-color: purple;
	
    display: inline-block;
	
	width: 100px;
	height: 50px;
	
	margin-left: 5px;
	margin-bottom: 30px;
	
	float: left;
	
}

.slider {
	background-color: yellow;
	
	width: 50%;
	height: 100%;
	
	margin-left: 0%;
	margin-right: auto;
}

/*
.switch-chck-bx:checked + .switch {
	background-color: yellow;
}
*/

.switch-chck-bx:checked + .switch .slider {
	margin-right: 0%;
	margin-left: auto;
}

html {
	height: 100%;
}

body {
	background-image: url("Images/Background.jfif");
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
}

.textbox {
	
	height: 20%;
	width: 76%;
	border-radius: 8px;
	/*opacity: 0.5;*/
	
	margin-top: 5%;
	margin-left: 10%;
	margin-right: auto;
	
	/*font-size: xxx-large;*/
	font-size: 100px;
}

input[type='text']::placeholder {
	font-size: 100px;
	
}

input:focus, textarea:focus, select:focus{
	outline: none;
}

