
.switch-chck-bx {
	
	width: 0;
	height: 0;
	box-sizing: border-box;
	overflow: hidden;
	
}

.switch {

	background-color: #c933ff;
	
    display: inline-block;
	
	width: 60px;
	height: 30px;
	
	border-radius: 25px;
	
	margin-left: 20px;
	
	float: left;
	
}

.slider {
	background-color: #ff5533;
	
	width: 50%;
	height: 100%;
	
	margin-left: 0%;
	margin-right: auto;
	
	border-radius: 25px;

	transition: .1s;
	
}

.slider:after {
	transition: 1s;
}

.switch-chck-bx:checked + .switch .slider {
	transform: translateX(100%);
}

























