
.switch-chck-bx {
	
	width: 0;
	height: 0;
	box-sizing: border-box;
	overflow: hidden;
	
}

.switch {

	background-color: purple;
	
    display: inline-block;
	
	width: 60px;
	height: 30px;
	
	border-radius: 25px;
	
	margin-top: 30px;
	margin-left: 20px;
	margin-bottom: 30px;
	
	float: right;
	
}

.initializer {
	
	height: 100%;
	width: 100%;
	display: inline-block;
	
	background-color: green;
	
}

.switch-init {
	/*
	width: 0;
	height: 0;
	box-sizing: border-box;
	overflow: hidden;
	*/
}

.slider {
	background-color: yellow;
	
	width: 50%;
	height: 100%;
	
	margin-left: 0%;
	margin-right: auto;
	
	border-radius: 25px;
	/*
	animation-name: flip;
	animation-duration: 2s;
	*/
}

.switch-chck-bx:checked + .switch .slider {
	animation-name: flip-forward;
	animation-duration: .1s;
	animation-fill-mode: forwards;
}

@keyframes flip-forward {
	from {
		/*
		margin-left: 0%;
		margin-right: auto;
		*/
		transform: translateX(0%);
	}
	to {
		/*
		margin-right: 0%;
		margin-left: auto;
		*/
		transform: translateX(100%);
	}
}

.switch-init:checked + .switch-chck-bx:not(:checked) + .switch .slider {
	animation-name: flip-reverse;
	animation-duration: .1s;
	animation-fill-mode: forwards;
}

@keyframes flip-reverse {
	from {
		transform: translateX(100%);
	}
	to {
		transform: translateX(0%);
	}
}

/*
.switch-chck-bx:checked + .switch .slider {
	margin-right: 0%;
	margin-left: auto;
	
	transition-duration: 1s;
}
*/
























